<!-- your html code here -->
<div class="bg-light">
<h2 class="contact-header">Contact</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quaerat nesciunt tempore dolores pariatur modi reprehenderit excepturi magni dignissimos consectetur animi, aut laboriosam quae vel temporibus sunt cumque illo maiores!</p>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>