<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5 mx-auto">
        <div class="row">
            <div class="col-9">
            <h1><strong> The First Heading</strong> Will catch your eye </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus. Praesent sit amet sapien eget leo finibus vulputate et vel sem. Etiam fermentum sit amet neque quis aliquam. Donec sed urna volutpat, fringilla eros a, lacinia mi. Praesent volutpat tempus efficitur. Ut egestas placerat purus eget rutrum.</p>
        </div>
        <div class="col-3">
            <img src="https://fastly.picsum.photos/id/570/300/300.jpg?hmac=C2Q3y8MmDk-y0SzsTx2Fn8gL9kucFf4GTMwApTWIN_0" class="img.fluid rounded-circle" alt="">
        </div>
        </div>
    </div> 
</body>
</html>


